p,body{
	margin: 0;
	padding: 0;
}
body{
	/*margin: 0 auto;*/
/*	left: 50%;*/
}
#main{
	width: 400px;
	height: 475px;
	margin:auto; 
	position: absolute;
	top: 0;left: 0;bottom: 0;right: 0;
}
#Content{
	width: 400px;
	height: 400px;
	margin:auto; 
	position: absolute;
	top: 0;left: 0;bottom: 0;right: 0;
	border: 1px solid #bad717;
	border-radius: 5px;
	background: #9ef6b5;
}
#Set{
	width: 400px;
	height: 30px;
	border: 1px solid #bad717;
	background: #e3f196;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	border-radius: 5px;
}
#Box{
	width: 50px;
	height: 50px;
	margin: auto;
	position: absolute;
	top: 0;left: 0;bottom: 0;right: 0;
	background: #f6eb9e;
	border: 2px solid #e6ca0e;
	border-radius: 5px;
}
p{
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	margin: auto;
	position: absolute;
	top: 0;left: 0;bottom: 0;right: 0;
}
#Change{
	border:1px solid #d2f416;
	border-radius: 5px;
	width: 330px;
	height: 170px;
	position: absolute;
	left:900px;
	top: 83px;
	display:none;
}
#Btn{
	width: 330px;
	height: 30px;
	margin-top: 20px;
}
.Choose{
	border: 1px solid #d2f416;
	border-radius: 5px;
	width: 140px;
	height: 30px;
	line-height: 30px;
	margin:5px 5px; 
}
.Size{
	width: 50px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid black;
	margin:0 5px;
	background: #fff;
	border-radius: 5px;
}
#Red{
	background: red;
	position: absolute;
	top: 5px;
	left: 150px;
}
#Green{
	background: green;
	position: absolute;
	top: 5px;
	left: 210px;
}
#Blue{
	background: blue;
	position: absolute;
	top: 5px;
	left: 270px;
}
#Wtwo{
	position: absolute;
	top: 42px;
	left: 150px;
}
#Wthree{
	position: absolute;
	top: 42px;
	left: 210px;
}
#Wfour{
	position: absolute;
	top: 42px;
	left: 270px;
}
#Htwo{
	position: absolute;
	top: 79px;
	left: 150px;
}
#Hthree{
	position: absolute;
	top: 79px;
	left: 210px;
}
#Hfour{
	position: absolute;
	top: 79px;
	left: 270px;
}
#Reset{
	margin-left: 80px;
	width: 50px;
	height: 30px;
	border-radius: 5px;
}
#Sure{
	margin-left: 40px;
	width: 50px;
	height: 30px;
	border-radius: 5px;
}